In [144]:
print("hello")

hello

In [145]:
import pandas as pd
df = pd.read_excel (r'college (3).xlsx',header=None)
courseColumn = df.get(0)

In [146]:
courseListOfferedByCollege = courseColumn.to_list()

In [147]:
courseListOfferedByCollege

['Computer Science',
 'Civil',
 'Mechanical',
 'Artificial Intelligence',
 'Electrical',
 'Electronics',
 'Chemical',
 'Aeronautical',
 'Mathematics',
 'Chemistry',
 'Physics']

In [148]:
capacity = df.get(1)
capacityListOfEachCourse = capacity.to_list()

In [149]:
capacityListOfEachCourse

[1, 8, 10, 6, 15, 10, 8, 12, 6, 11, 0]

In [150]:
dictionaryOfCourseAndCapacity = dict()

In [151]:
for i in range(0,len(courseListOfferedByCollege)):
  dictionaryOfCourseAndCapacity[courseListOfferedByCollege[i].upper()] = capacityListOfEachCourse[i]

In [152]:
dictionaryOfCourseAndCapacity

{'AERONAUTICAL': 12,
 'ARTIFICIAL INTELLIGENCE': 6,
 'CHEMICAL': 8,
 'CHEMISTRY': 11,
 'CIVIL': 8,
 'COMPUTER SCIENCE': 1,
 'ELECTRICAL': 15,
 'ELECTRONICS': 10,
 'MATHEMATICS': 6,
 'MECHANICAL': 10,
 'PHYSICS': 0}

In [153]:
import pandas as pd
df = pd.read_excel (r'student (5).xlsx',header=None)
nameColumn = df.get(0)

In [154]:
listOfStudentsName = nameColumn.to_list()
print(listOfStudentsName)

['Ankit', 'Amit', 'Rahul', 'Rakesh', 'Suresh', 'Pradeep', 'Sandeep', 'Akshat']

In [155]:
df

         0                                                  1
0    Ankit  Computer Science,Civil,Chemistry,Physics,Elect...
1     Amit  Electronics,Aeronautical,Chemistry,Computer Sc...
2    Rahul  Computer Science,Civil,Electrical,Chemistry,El...
3   Rakesh  Electrical,Mathematics,Computer Science,Physic...
4   Suresh  Computer Science,Civil,Chemistry,Physics,Elect...
5  Pradeep  Electrical,Mathematics,Computer Science,Physic...
6  Sandeep  Biology,Physics,Aeronautical,Mathematics,Mecha...
7   Akshat               Biotechnology,Information Technology

In [156]:
studentPreference = df.get(1).to_list()

In [157]:
studentPreference

['Computer Science,Civil,Chemistry,Physics,Electrical',
 'Electronics,Aeronautical,Chemistry,Computer Science,Civil ',
 'Computer Science,Civil,Electrical,Chemistry,Electronics',
 'Electrical,Mathematics,Computer Science,Physics,Mechanical',
 'Computer Science,Civil,Chemistry,Physics,Electrical',
 'Electrical,Mathematics,Computer Science,Physics,Civil',
 'Biology,Physics,Aeronautical,Mathematics,Mechanical,Electronics ',
 'Biotechnology,Information Technology']

In [158]:
from collections import OrderedDict
dictionaryOfStudentAndPreferences = OrderedDict()

In [159]:
for i in range(0,len(listOfStudentsName)):
  dictionaryOfStudentAndPreferences[listOfStudentsName[i].upper()] = studentPreference[i].upper()

In [160]:
dictionaryOfCourseAndCapacity

{'AERONAUTICAL': 12,
 'ARTIFICIAL INTELLIGENCE': 6,
 'CHEMICAL': 8,
 'CHEMISTRY': 11,
 'CIVIL': 8,
 'COMPUTER SCIENCE': 1,
 'ELECTRICAL': 15,
 'ELECTRONICS': 10,
 'MATHEMATICS': 6,
 'MECHANICAL': 10,
 'PHYSICS': 0}

In [161]:
dictionaryOfStudentAndPreferences

OrderedDict([('ANKIT', 'COMPUTER SCIENCE,CIVIL,CHEMISTRY,PHYSICS,ELECTRICAL'),
             ('AMIT',
              'ELECTRONICS,AERONAUTICAL,CHEMISTRY,COMPUTER SCIENCE,CIVIL '),
             ('RAHUL',
              'COMPUTER SCIENCE,CIVIL,ELECTRICAL,CHEMISTRY,ELECTRONICS'),
             ('RAKESH',
              'ELECTRICAL,MATHEMATICS,COMPUTER SCIENCE,PHYSICS,MECHANICAL'),
             ('SURESH', 'COMPUTER SCIENCE,CIVIL,CHEMISTRY,PHYSICS,ELECTRICAL'),
             ('PRADEEP',
              'ELECTRICAL,MATHEMATICS,COMPUTER SCIENCE,PHYSICS,CIVIL'),
             ('SANDEEP',
              'BIOLOGY,PHYSICS,AERONAUTICAL,MATHEMATICS,MECHANICAL,ELECTRONICS '),
             ('AKSHAT', 'BIOTECHNOLOGY,INFORMATION TECHNOLOGY')])

In [162]:
class Student:
  def __init__(self, name, preferences):
    self.name = name
    self.preferences = preferences

In [163]:
students = list()
for key,value in dictionaryOfStudentAndPreferences.items():
  students.append(Student(key, value))

In [164]:
students

[<__main__.Student at 0x7fd2b789cd10>,
 <__main__.Student at 0x7fd2b789cf10>,
 <__main__.Student at 0x7fd2b789ca90>,
 <__main__.Student at 0x7fd2b789c350>,
 <__main__.Student at 0x7fd2b789cd90>,
 <__main__.Student at 0x7fd2b789c050>,
 <__main__.Student at 0x7fd2b789c210>,
 <__main__.Student at 0x7fd2b78a9b50>]

In [165]:
students[6].preferences.split(",")

['BIOLOGY',
 'PHYSICS',
 'AERONAUTICAL',
 'MATHEMATICS',
 'MECHANICAL',
 'ELECTRONICS ']

In [166]:
dictionaryForFinalAllotment = OrderedDict()

In [167]:
for student in students:
  isAllocated = False
  for choice in student.preferences.split(","):
    if choice in dictionaryOfCourseAndCapacity.keys():
      if dictionaryOfCourseAndCapacity[choice] > 0:
        dictionaryForFinalAllotment[student.name] = choice
        dictionaryOfCourseAndCapacity[choice] -= 1
        isAllocated = True
        break
      else:
        continue
    else:
      continue
  if isAllocated:
    continue
  else:
    dictionaryForFinalAllotment[student.name] = "Not Allocated Any Seat"

In [168]:
dictionaryForFinalAllotment

OrderedDict([('ANKIT', 'COMPUTER SCIENCE'),
             ('AMIT', 'ELECTRONICS'),
             ('RAHUL', 'CIVIL'),
             ('RAKESH', 'ELECTRICAL'),
             ('SURESH', 'CIVIL'),
             ('PRADEEP', 'ELECTRICAL'),
             ('SANDEEP', 'AERONAUTICAL'),
             ('AKSHAT', 'Not Allocated Any Seat')])

In [170]:
finalResult = pd.DataFrame(list(dictionaryForFinalAllotment.items()), columns = ['Student Name', "Seat Alloted"])

In [172]:
finalResult.to_excel('Final Result.xlsx')